<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/aboutus">Team</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><p><a href="https://github.com/ProCodeJava/Parking-Hunter"><i class="icon ion-social-github"></i></a> &nspar; PRO CODE © 2021</p>
<!--                    <p class="copyright">PRO CODE © 2021</p>-->
                </div>
            </div>
        </div>
    </footer></div></div>

</body>
</html>