<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    </style>
</head>
<body>
<div th:fragment="header">
    <header style="background-color: #222; margin:0;" class="p-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
<!--                    <img src="../static/images/logo.png" width="100" th:src="@{images/logo.png}"/>-->
                    <img th:src="@{/images/logo.png}" width="100" alt="logo" class="logo-img">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 topnav-centered">
                    <li><a href="/" class="nav-link px-2">Home</a></li>
                    <li><a href="#" class="nav-link px-2">Services</a></li>
                    <li><a href="/aboutus" class="nav-link px-2">About Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right"><li class="MyA"th:if="${userType!=null} "><a style="color: white;" th:text="${user.username}"><span class="glyphicon glyphicon-user"></span>User: </a></li></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${userType==null} "><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up</a>
                        <ul class="dropdown-menu">
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                        </ul>
                    </li>
                    <li th:if="${userType!=null} "><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                            <li><a href="/perform_logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</body>
</html>