<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header></header>
<main>

    <p> <strong>Parking-Hunter</strong> is an app that helps you find your parking spot and book it. Our vision is to have an organized parking system, streets without traffic. And our mission is to facilitate the process of finding parking spots in traffic places such as downtown </p>

    <h1>Who Are We ... ?</h1>

    <img src="./ahmad.jpg" alt="Ahmad"/>
    <img th:src="@{./rawan.jpg}" alt="Rawan"/>
    <img src="/vicky.jpg" alt="Victoria"/>
    <img th:src="@{/yaser.jpg}" alt="Yaser"/>



</main>
<footer></footer>
</body>
</html>