<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Home page</h2>
<div th:each="parking: ${parkings}">
    <p th:text="${parking.parkingName}"></p>
    <p th:text="${parking.region}"></p>
    <p th:text="${parking.latitude}"></p>
    <p th:text="${parking.longitude}"></p>
    <p th:text="${parking.numSpaces}"></p>
    <p th:text="${parking.availableSpaces}"></p>
    <p th:text="${parking.openingHour}"></p>
    <p th:text="${parking.closingHour}"></p>
    <p th:text="${parking.pricePerHour}"></p>
    <p th:text="${parking.ownerName}"></p>
    <br>
    <div class="stars">
        <form action="/addReview" method="post">

            <input name="body" type="text" placeholder="Review">
            <!--            <input class="star star-5" id="star-5" type="radio" name="star"/>-->
            <!--            <label class="star star-5" for="star-5"></label>-->
            <!--            <input class="star star-4" id="star-4" type="radio" name="star"/>-->
            <!--            <label class="star star-4" for="star-4"></label>-->
            <!--            <input class="star star-3" id="star-3" type="radio" name="star"/>-->
            <!--            <label class="star star-3" for="star-3"></label>-->
            <!--            <input class="star star-2" id="star-2" type="radio" name="star"/>-->
            <!--            <label class="star star-2" for="star-2"></label>-->
            <!--            <input class="star star-1" id="star-1" type="radio" name="star"/>-->
            <!--            <label class="star star-1" for="star-1"></label>-->
            <button type="submit" name="idPark" th:value="${parking.id}">add review</button>

        </form>
    </div>
    <div th:each="reviews:${review}"th:if="${parking.id==reviews.addingReview.id}">
        <div >
            <p th:text="${reviews.dateTime}"></p>
            <p th:text="${reviews.body}"></p>
        </div>

    </div>
    <form action="/reserve" method="POST">
        <label for="date">Date</label>
        <input id="date" name="date" type="date">

        <label for="starTime">Time In</label>
        <input id="starTime" name="starTime" type="time">

        <label for="endTime">Time Out</label>
        <input id="endTime" name="endTime" type="time">


        <button type="submit" name="id" th:value="${parking.id}" >reserve</button>
    </form>

    </div>
    <form th:if="${userType=='ROLE_OWNER'}" action="/addparking">
        <button type="submit">Add parking</button>
    </form>
    <form th:if="${userType=='ROLE_OWNER'}" action="/viewparkings">
        <button type="submit">view parking</button>
    </form>


    <form th:if="${userType==null}" action="/login">
        <button type="submit">Sign in</button>
    </form>
    <form th:if="${userType==null}" action="/signup">
        <button type="submit">Sign up</button>
    </form>
</body>
</html>