<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <link th:href="@{/star.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="stars">-->
<!--  <form action="/addReview"method="post">-->

<!--    <input name="body"type="text"placeholder="Review">-->
<!--    <input class="star star-5" id="star-5" type="radio" name="star"/>-->
<!--    <label class="star star-5" for="star-5"></label>-->
<!--    <input class="star star-4" id="star-4" type="radio" name="star"/>-->
<!--    <label class="star star-4" for="star-4"></label>-->
<!--    <input class="star star-3" id="star-3" type="radio" name="star"/>-->
<!--    <label class="star star-3" for="star-3"></label>-->
<!--    <input class="star star-2" id="star-2" type="radio" name="star"/>-->
<!--    <label class="star star-2" for="star-2"></label>-->
<!--    <input class="star star-1" id="star-1" type="radio" name="star"/>-->
<!--    <label class="star star-1" for="star-1"></label>-->
<!--        <button type="submit"name="id"th:value="${parkings.id}"></button>-->

<!--  </form>-->
<!--</div>-->
<!--<div th:each="parkings:${parking}">-->
<!--  <div th:each="reviews:${review}">-->
<!--&lt;!&ndash;    <div th:if="${parkings.id}==reviews.addingReviewId">&ndash;&gt;-->

<!--      <p th:text="${reviews.dateTime}"></p>-->
<!--      <p th:text="${reviews.body}"></p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


</body>
</html>