<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form action="/reserve" method="POST">-->
<!--  <label for="date">Date</label>-->
<!--  <input id="date" name="date" type="date">-->

<!--  <label for="starTime">Time In</label>-->
<!--  <input id="starTime" name="starTime" type="time">-->

<!--  <label for="endTime">Time Out</label>-->
<!--  <input id="endTime" name="endTime" type="time">-->


<!--  <button type="submit">login</button>-->
<!--</form>-->

</body>
</html>