
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TomTom Mapping Example</title>
    <link rel='stylesheet' type='text/css'
          href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps.css'>
    <style>
   #map {
     width: 50vw;
     height: 50vh;
   }
 </style>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps-web.min.js'></script>
</head>
<body>
<div id='map' class='map' ></div>
<script th:inline="javascript" >
const objectsOfParkings =  /*[[${parkingsOwner}]]*/ 'default';
console.log(objectsOfParkings);
console.log(objectsOfParkings.length);

console.log("hello");
 var map = tt.map({
   key: 'ZMaJ7IeOvM2dcAAcqxNAWzSF1fL0G166', // this will be replaced by Thymeleaf at runtime
    container: 'map',
 style: 'tomtom://vector/1/basic-main',
 center: [35.93448795290056, 31.94958622949373],
 zoom: 15
 });
 map.addControl(new tt.FullscreenControl());
 map.addControl(new tt.NavigationControl());
   const popupOffsets = {
    top: [0, 0],
    bottom: [0, -50],
    'bottom-right': [0, -70],
    'bottom-left': [0, -70],
    left: [25, -35],
    right: [-25, -35]
  }
  const coolLocations = /*[[${coolLocations}]]*/ 'default';
console.log(coolLocations);
  coolLocations.forEach(location => {
    const marker = new tt.Marker().setLngLat(location.lnglat).addTo(map);
    const popup = new tt.Popup({offset: popupOffsets}).setHTML(location.description);
    marker.setPopup(popup).togglePopup();

  });

</script>
</body>
</html>