<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
<!--    <div style="height:800px;overflow-y: auto;max-width: 500px;background-color:red;">-->

        <div class="card mb-2" style="max-width: 500px;max-height: 150px;"th:each="parking: ${parkings}" th:if="${userType!='ROLE_OWNER'}" >
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="https://media.istockphoto.com/photos/letter-p-parking-sign-picture-id496031452?k=6&m=496031452&s=612x612&w=0&h=_nJsMtqQl5fSAZN1Bg056TlWbXp0J68Td_GxwYzqK5s=" class="img-fluid rounded-start" alt="...">

                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title"style="float:right;"><span style="font-size:1rem">$</span><span th:text="${parking.pricePerHour}"></span></h5>
                            <h5 class="card-title"th:text="${parking.parkingName}" ></h5>

                            <a class="navbar-brand" href="https://www.google.com/maps/place"style="float:right;color:black;">🗺️GPS Directions</a>
                            <p class="card-text">🟢</p>
                            <a class="navbar-brand" href="https://www.google.com/maps/place"style="float:right;">DETAILS</a>
                            <a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">BOOK NOW</a>
                        </div>
                        <!--                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->

                    </div>
                </div>
            </div>
        </div>
<!--    </div>-->
    <!--    <div class="container">-->
    <!--        <div class="row row-cols-1">-->
    <!--            <div class="col" >-->
    <!--                <div class="card mb-3" style="max-width: 540px;"th:each="parking: ${parkings}" th:if="${userType=='ROLE_USER'}">-->
    <!--                    <div class="col-md-4">-->
    <!--                        <img src="https://media.istockphoto.com/photos/letter-p-parking-sign-picture-id496031452?k=6&m=496031452&s=612x612&w=0&h=_nJsMtqQl5fSAZN1Bg056TlWbXp0J68Td_GxwYzqK5s=" class="img-fluid rounded-start" alt="...">-->
    <!--                    </div>-->
    <!--                    <div class="col-md-8">-->

    <!--&lt;!&ndash;                            <a class="navbar-brand" th:href="https://www.google.com/maps/place/${parking.latitude}">Feed</a>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <a class="navbar-brand" th:href="@{/profile/{id}(id = ${usersIds.addingUser.id})}"><span th:text="${usersIds.userName}"></span></a>&ndash;&gt;-->

    <!--                        <div class="card-body">-->

    <!--                            <h5 class="card-title"th:text="${parking.parkingName}"></h5>-->
    <!--                            <h5 class="card-title"th:text="${parking.pricePerHour}"></h5>-->
    <!--                            <p class="card-text"></p>-->
    <!--                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</main>


</body>
</html>